body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.espacamento-15px{
    padding: 15px;
}

.espacamento-50px{
    padding: 50px;
}

.espacamento-100px{
    padding: 100px;
}

.espacamento-150px{
    padding: 150px;
}

.espacamento-200px{
    padding: 200px;
}

.card-custom {
    border: none;
    overflow: hidden;
    position: relative;
}

.card-custom img{
    height: 400px;
    width: 100%;
}