body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.espacamento-100px{
    padding: 100px;
}

.espacamento-150px{
    padding: 150px;
}

.espacamento-200px{
    padding: 200px;
}

.carousel-item img{
    width: 100%;
}

.card-custom {
    position: relative;
    overflow: hidden;
    color: white;
}
